
<div class="registration-form m-3 p-4">
  <form [formGroup]="registrationForm">
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput placeholder="firstName">
          <mat-error *ngIf="registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched">First Name is required</mat-error>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>LastName</mat-label>
          <input formControlName="lastName" matInput placeholder="lastName">
          <mat-error *ngIf="registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched">Last Name is required</mat-error>

          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="email">
          <mat-error *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">Invalid email format</mat-error>
          <mat-icon matSuffix>mail_outline</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>Select Role</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let name of Roles" [value]="name">
              {{name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="registrationForm.get('role')?.invalid && registrationForm.get('role')?.touched">Role selection is required</mat-error>
        </mat-form-field>
        
      </div>
    </div>
    <button *ngIf="!isUpdateActive" (click)="submit()" mat-raised-button color="accent">Submit</button>
    <button *ngIf="isUpdateActive" (click)="update()" mat-raised-button color="accent">Update</button>
  </form>
</div>
